body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
#chartdiv {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  margin: 0;
  z-index: 5;
}
#startpage {
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#titlebox {
  position: absolute;
  width: 250px;
  height: 50px;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  margin-left: -150px; /* margin is -0.5 * dimension */
  margin-top: -100px;
  text-align: center;
}
#hide {
  margin-top: 25px;
  padding: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15pt;
  color: #D17B66;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 15px;
  cursor: pointer;
}
#hide:hover {
  color: #FFF;
  background: #E2856E;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);

}
#about {
  bottom: 0;
  left: 0;
  position: fixed;
  font-size: 20pt;
  background-color: #ffffff;
  z-index: 7;
  width: 200px;
  text-align: center;
  padding: 20px;
}
#aboutlink {
  color: #555;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
#aboutlink:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #DB816B;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#aboutlink:hover:before, #aboutlink:focus:before, #aboutlink:active:before {
  right: 0;
}
.logo {
  margin-left: -45px;
}
#logocorner {
  top: 0;
  right: 0;
  float: right;
  height: 25px;
  position: fixed;
  z-index: 7;
}
/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -40px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 130px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px; /* Rounded corners on the top right and bottom right side */
    z-index: 7;
}

#mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#start {
    top: 20px;
    background-color: #5AAA95;
}

#aboutus {
    top: 80px;
    background-color: #E2856E;
}

#sources {
    top: 140px;
    background-color: #608493;
}
